# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.csv
*.pptx
.DS_Store

*.exe
tasks.json
*.dSYM

# MAC build files
5_oror_noreset
5_anan_noreset
6_base
6_reset
6_oror
6_anan
7_base
7_reset
7_oror
7_anan
7_full